<div class="mobile-footer">
    <a href="/listings" class="footer-item">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Explore</span>
    </a>

    <a href="/listings/new" class="footer-item">
        <i class="fa-regular fa-compass"></i>
        <span>Home</span>
    </a>

    <% if(!currUser) { %>
        <a href="/login" class="footer-item">
            <i class="fa-regular fa-user"></i>
            <span>Login</span>
        </a>
    <% } else { %>
        <a href="/logout" class="footer-item">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>
    <% } %>
</div>